<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>


    <div class="about content">
        <h2>About</h2>
        <p>Welcome to OurPages, platform for everyone to share their thoughts, experiences and anything of their desire! The content here is created by the community which can consists of both short and long articles. If you have the passion to write or explore articles by various people, then this is the right destination for you. </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>